#container{
    border: none;
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: 80px;
    margin: auto;
}
.delete{
    border: none;
    border-right: solid purple;
    margin: auto;

}

.form{
    border: none;
    margin: auto;
    margin: 20%
    padding: 30px;
}
button{
    padding: 5px 5px;
    width: 55%;
    color: white;
    background-color: blueviolet;
}
.icon{
    display: grid;
    grid-template-columns: 27% 27% 27%;
}
#name{
    display: grid;
    grid-template-columns: 50% 50%;
}